*,
*::before,
*::after {
	user-select: none;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

html {
	height: 100vh; // keyboard ios hack
	background: #151515;
	color: white;
	font-family: -apple-system, Avenir, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: bold;
	text-rendering: geometricPrecision;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none; // disable iOS Link Preview
	-webkit-tap-highlight-color: #ffffff00;
}

body {
	width: 100%;
	touch-action: none;
	user-select: none;
	padding: 0;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

a {
	text-decoration: none;

	&:not([class]) {
		text-decoration-skip-ink: auto;
	}

	&:visited {
		color: inherit;
	}
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
