@import './utils/_reset';
@import './utils/_tweakpane';
@import './utils/_breakpoints';
@import './utils/_touch';
@import './utils/_animations';
@import './utils/_fonts';
@import './utils/_var';
@import './utils/_easings';

canvas.sketch {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
}
